.TodoItem {
    background-color: #FAFAFA;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    border-radius: 2rem;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
  }

  .TodoItem--complete {
    background-color: rgba(147, 255, 151, 0.255);
    border: 1px solid #4caf50;
  }
  
  .TodoItem-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }
  .TodoItem-p--complete {
    /* text-decoration: line-through; */
    color: #1f5020;
  }
  
  .Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
    color: gray;
    font-size: 18px;
    font-weight: bold;
    background-color: #CCC;
    border-radius: 50%;
  }
  
  .Icon-check {
    position: absolute;
    left: 18px;
  }
  .Icon-check--active {
    color: #4caf50;
    background-color: #4caf4f4d;
  }
  
  .Icon-delete {
    position: absolute;
    top: -12px;
    right: 12px;
  }
  .Icon-delete:hover {
    color: rgb(190, 0, 0);
    background-color: rgb(255, 193, 193);
    border: 1px solid rgb(190, 0, 0);
  }
  
  